<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.dangyuan.mapper.ActivityContentMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        a_c.id id,
        a_c.content content,
        a_c.userId userId,
        a_c.activityId activityId,
        a_c.activityType activityType
    </sql>

    <!--未使用-->
    <insert id="insertActivityContent" parameterType="com.telecom.jx.dangyuan.pojo.po.DangZeContent">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.dangyuan.pojo.po.DangZeContent">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_activity_content
        (content,userId,activityId,activityType)
        VALUES (#{content},#{userId},#{activityId},#{activityType})
    </insert>

    <insert id="insertDangZeContent" parameterType="com.telecom.jx.dangyuan.pojo.po.DangZeContent">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.dangyuan.pojo.po.DangZeContent">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_dangze_content
        (content,userId,arrangeId)
        VALUES
        (#{content},#{userId},#{arrangeId})
    </insert>

    <insert id="insertSheZeContent" parameterType="com.telecom.jx.dangyuan.pojo.po.SheZeContent">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.dangyuan.pojo.po.SheZeContent">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_sheze_content
        (content,userId,arrangeId)
        VALUES
        (#{content},#{userId},#{arrangeId})
    </insert>

    <insert id="insertAchievementContent" parameterType="com.telecom.jx.dangyuan.pojo.po.AchievementContent">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.dangyuan.pojo.po.AchievementContent">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_achievement_content
        (content,userId,arrangeId)
        VALUES
        (#{content},#{userId},#{arrangeId})
    </insert>

    <insert id="insertHonorsAwardContent" parameterType="com.telecom.jx.dangyuan.pojo.po.HonorsAwardContent">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.dangyuan.pojo.po.HonorsAwardContent">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_honorsaward_content
        (content,userId,arrangeId)
        VALUES
        (#{content},#{userId},#{arrangeId})
    </insert>

    <insert id="insertProfessDevelopContent" parameterType="com.telecom.jx.dangyuan.pojo.po.ProfessDevelopContent">
        <!--持久化对象时,返回自增的主键:通用方式  -->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER"
                   resultType="com.telecom.jx.dangyuan.pojo.po.ProfessDevelopContent">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_professdevelop_content
        (content,userId,arrangeId)
        VALUES
        (#{content},#{userId},#{arrangeId})
    </insert>


</mapper>