<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecom.jx.dangyuan.mapper.SheZeMapper">

    <!--注意字段要和javabean的一样-->
    <sql id="baseSql">
        s.id id,
        s.title title,
        s.content content,
        s.year year,
        s.publishTime publishTime,
        s.roleId roleId,
        s.dScore dScore,
        s.lScore lScore,
        s.hScore hScore,
        s.rate rate,
        s.otherAttr otherAttr,
        s.sumScore sumScore
    </sql>

    <sql id="sheZeCustomBaseSql">
        d_a.id arrangeId,d_a.month month,d_a.time time,d_a.dangzeId dangzeId,
        d.title title,d.content content,d.roleId roleId,d.dScore dScore,d.lScore lScore,d.hScore hScore,d.rate rate,d.otherAttr otherAttr,d.sumScore
    </sql>

    <sql id="sheZe3CustomBaseSql">
        d3_a.id arrangeId,d3_a.time time,d3_a.dangzeId dangzeId,
        d.title title,d.content content,d.roleId roleId,d.dScore dScore,d.lScore lScore,d.hScore hScore,d.rate rate,d.otherAttr otherAttr,d.sumScore
    </sql>

    <!--查询用户当月所有党责活动(有次数的，rate=0，1，2)-->
    <select id="selectSheZeCustoms" parameterType="java.util.Map"
            resultType="com.telecom.jx.dangyuan.pojo.vo.SheZeCustom">
        SELECT
        <include refid="sheZeCustomBaseSql"/>
        FROM t_sheze_arrange d_a
        LEFT JOIN t_sheze d
        ON d.id = d_a.shezeId
        LEFT JOIN t_sheze_content d_c
        ON d_a.id = d_c.arrangeId
        WHERE d_a.month = #{month}
    </select>

    <!--查询用户所有党责活动(不限次数的，rate=3)-->
    <select id="selectSheZe3Customs" parameterType="java.util.Map"
            resultType="com.telecom.jx.dangyuan.pojo.vo.SheZeCustom">
        SELECT
        <include refid="sheZe3CustomBaseSql"/>
        FROM t_sheze3_arrange d3_a
        LEFT JOIN t_sheze d
        ON d.id = d3_a.shezeId
        LEFT JOIN t_sheze_content d_c
        ON d3_a.id = d_c.arrangeId
        WHERE d3_a.year = #{year} and d3_a.userId = #{userId}
    </select>

    <!--查询党责活动的完成状态，申请是0，申请中是1，完成是2-->
    <select id="selectSheZeState" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT u_d.state state
        FROM t_user_sheze u_d
        WHERE u_d.userId = #{userId} AND u_d.shezeId = #{shezeId} AND u_d.time = #{time} AND u_d.year = #{year}
    </select>

    <select id="selectSheZeAttachmentByArrangeIdAndUserId" parameterType="java.util.Map"
            resultType="com.telecom.jx.dangyuan.pojo.po.ActivityAttachment">
        SELECT a_a.id id,a_a.localAddress localAddress,a_a.serverAddress serverAddress,a_a.attachmentType attachmentType,a_a.uploadTime uploadTime,a_a.contentId contentId,a_a.activityType activityType
        FROM t_activity_attachment a_a
        LEFT JOIN t_sheze_content d_c
        ON d_c.id = a_a.contentId
        WHERE d_c.arrangeId = #{arrangeId} and d_c.userId = #{userId}
    </select>

    <select id="selectSheZeContentByArrangeIdAndUserId" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT d_c.content
        FROM t_sheze_content d_c
        WHERE d_c.userId = #{userId} AND d_c.arrangeId = #{arrangeId}
    </select>

    <insert id="insertUserSheZe" parameterType="java.util.Map">
        INSERT INTO t_user_sheze(userId,shezeId,time,year,state,rScore,commitTime)
        VALUES (#{userId},#{shezeId},#{time},#{year},#{state},#{rScore},#{commitTime})
    </insert>


    <insert id="insertSheZe3Arrange" parameterType="java.util.Map">
        INSERT INTO t_sheze3_arrange(id,year,userId,time,shezeId)
        VALUES (#{id},#{year},#{userId},#{time},#{shezeId})
    </insert>

    <select id="selectSheZe3ArrangeCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) count
        FROM t_sheze3_arrange d3_a
        WHERE d3_a.year = #{year} AND d3_a.userId = #{userId} AND d3_a.shezeId = #{shezeId}
    </select>

</mapper>